<h1>URL Registered</h1>

<p>
    Congratulations! Your URL: <a href="{{url.value}}">{{url.value}}</a> is now available under <a href="http://localhost:3000{{url.key}}">fancyshortener.hsr{{url.key}}</a> until {{exp}}.
</p>